.midContent {
  min-height: 90vh;
  width: 100vw;
  background-color: #673de6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.midContent_contianer1 {
  width: 90%;
  min-height: 95vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: pink; */
}
.part1_1 {
  /* height: 100%; */
  /* background-color: green; */
  width: 35%;
  margin-top: 50px;
  align-self: flex-start;
  padding: 0px 5px;
}

.part1_1_heading {
  font-size: 24px;
  font-weight: 800;
  text-indent: 5px;
}

.part1_1_para,
.part1_1 > a {
  font-size: 17px;
  word-spacing: 1px;
  color: white;
}

.mid_img1 {
  width: 590;
  height: 365px;
}
.mid_img2 {
  width: 523px;
  height: 523px;
}
